.App {
  text-align: center;
}

.App-logo {
  max-height: 40vmin;
  width: 90vmin;
}

.App-header {
  background-color: #54494B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #DA3B3B;
}
